.ddv-container {
  z-index: 10000;
  position: fixed;
  top: 70%;
  left: 80%;
  position: relative;
  width: fit-content;
}

.floating-toggle {
  width: 60px;
  height: 60px;
  border-radius: 5px 30px 30px;
  background-color: #e0ddcb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.extension-title {
  font-family: TrajanPro-Bold;
  margin-top: 0.25em;
}

.open-palette-container {
  width: fit-content;
  background-color: #e0ddcb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  padding: 5px;
  border-radius: 5px 0px 10px 0px;
  line-height: 2px;
  height: 20px;
  width: 20px;
  margin: 0;
  border: none;
  background-color: #e0ddcb;
  box-shadow: none;
}

.table-container {
  padding: 10px;
  max-height: 180px;
  overflow-y: auto;
}

.table-container > table > tbody > :nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.15);
}

.table-container > table > tbody > tr > :nth-child(n + 3) {
  border-left: 1px solid black;
}

.table-container > table > thead > th > :nth-child(n + 3) {
  border-left: 1px solid black;
}

.card-title {
  font-family: TrajanPro-Bold;
  padding-right: 15px;
  font-size: 0.8rem;
}

.player-name {
  text-align: center;
  padding: 0px 5px 5px 5px;
}

.card-amount {
  text-align: center;
  padding: 0px 5px;
  font-weight: 300;
}

.closed {
  display: none;
}
